<section class="eliminar-reserva alinear-vertical">
  <h4>¿Está seguro de que desea eliminar esta reserva?</h4>
  <form method="POST" >
    <input type="hidden" name="usuario_id" value=<%= usuario_id %> >
    <input class="btn" type="submit" value="Eliminar">
  </form>
</section>