<section class="contacto alinear-vertical">
  <h2>Contacta con nosotros</h2>
  <form action="/contacto">
    <label for="tema">Tema de la consulta:</label><br>
    <input type="text" id="tema"><br>
    <textarea id="" cols="30" rows="10" placeholder="Introduce tu consulta..."></textarea><br>
    <input class="btn" type="submit" value="Envíar">
  </form>
</section>