<footer class="alinear-vertical">
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
    <img alt="Licencia de Creative Commons" style="border-width:0" src="/images/creative-commons.png" />
  </a>
  <small>&copy;2021 Armando García</small>
</footer>