<section class="info alinear-vertical">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas 
    vehicula augue nec hendrerit. Nunc blandit tincidunt aliquet. Integer 
    vel dictum risus. Nam nec maximus felis. Vestibulum aliquam fringilla 
    neque et aliquet. Duis at faucibus ex, a fringilla nisl. 
  </p>
  <br>
  <p>
    Aliquam metus 
    ante, bibendum eu suscipit sit amet, porttitor ut lacus. Morbi felis 
    augue, rhoncus eget cursus ut, congue id risus. Maecenas vehicula diam 
    nisi, ac ornare augue aliquam ac. Pellentesque vitae gravida quam. Proin 
    pharetra risus sit amet lorem commodo tincidunt. Nulla mollis eros quis 
    viverra convallis.
  </p>
</section>