<section class="inicio alinear-vertical">
  <% if (mensaje_exito.length > 0) { %> 
    <p class="flash exito"><%= mensaje_exito %></p><br>
  <% } %>
  <img src="/images/logo-2.png" alt="Logo">
  <% if (usuario) { %>
    <%- include('./vuelos/busqueda', {layout:false}) %>
    <% if(errors){ %>
      <p class="error"><%= errors %></p>
    <% } %>
  <% } else { %>
    <h3>
      <a href="/usuario/login">Inicia sesión</a> o <a href="/usuario/crear">crea una cuenta</a> para realizar una reserva
    </h3>
  <% } %> 
</section>