<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="./usuario/crear">Crear usuario</a>
    <a href="./usuario/14"> usuario</a>
    <p>Welcome to <%= title %></p>
    <%- include('vuelos/busqueda') %>
  </body>
</html>
