<nav>
  <ul>
    <li>
      <a href="/">
        <img src="/images/logo-1.png" alt="Home"/>
      </a>
    </li>
    <li>  
      <a href="/info">Info</a>
      <a href="/contacto">Contacto</a>
    <% if (!usuario){ %>
        <a href="/usuario/crear"> Crear usuario</a>
        <a href="/usuario/login">Iniciar Sesión</a>
      </li>
    <%} else {%>
        <a href=<%= "/usuario/" + usuario.id %> ><%= usuario.nombre %></a>
        <a href="/usuario/logout">Cerrar sesión</a>   
    <% } %>
    </li>
  </ul>
</nav>