<nav>
  <ul>
    <li>
      <a href="/">
        <img src="/images/logo-1.png" alt="Home"/>
      </a>
    </li>
    <li>  
      <a href="/info">Info</a>
      <a href="/contacto">Contacto</a>
    <!-- <li>
    <a href="/usuario/crear"> Crear usuario</a>
    <a href="">Iniciar Sesión</a>
  </li> -->
      <a href="/usuario/14">Perfil</a>
    </li>
  </ul>
</nav>