<section class="eliminar-usuario alinear-vertical">    
  <h4>¿Está seguro de que desea eliminar este usuario?</h4>
  <form method="POST" >
    <input class="btn" type="submit" value="Eliminar">
  </form>

</section>