<section class="eliminar-usuario alinear-vertical">
    
  <h2>¿Está seguro de que desea eliminar este usuario?</h2>
  <form method="POST" >
    <input class="btn" type="submit" value="Eliminar">
  </form>

</section>