<section class="login alinear-vertical">
  <form method="POST" action="/usuario/login">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password"><br>
    <input class="btn" type="submit" value="Inciar sesión">
  </form>
</section>